
#main-body{
    display: flex;
    /* flex: 3; */
    /* border: darkblue solid 2px; */
    min-height: 80vh;

  }

  /* sidenav - left side of body */
  .sidenav {
    min-width: 16vw;
    /* border: darkred solid 2px; */
    display: flex; 
    background-color: aqua;
  }

  .sidenav a{
    display: flex;
    flex-direction: column;
  }

  #right-body{
    display: flex;
    justify-content: center;
    border:orange solid 2px;
    flex-grow: 1;
  }