#body {
  font-family: sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}



/* Header/Nav Starts */
nav a {
  display: inline-block;
  margin: 1em;
}
#navbarBox {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  background-color: greenyellow;
}

#siteName {
  color: black;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-left: 30px;
}

#siteName span {
  margin-top: 5px;
  font-size: 15px;
  color: black;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

#siteName span:after,
#siteName span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 5px;
  background-color: black;
}


#navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#search-box {
  display: block;
  width: 20%;
  position: absolute;
  top: 80px;
  right: 20px;
}

#search-bar,
#go-button {
  position: relative;
  top: 60%;
}
#search-bar {
  width: 70%;
  height: 40px;
  font-size: 12px;
  color: black;
  background: transparent;
}

#search-bar::placeholder {
  color: black;
  padding-left: 10px;
}

/* Header/Nav Ends */


#main{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: grey;
}

#sideBar{
  background-color: red;
  min-width: 16vw;
  display: flex;
  flex-direction: column;
}


#footer{
  min-height: 13vh;
  background-color: yellow ;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}


