body {
  background-color: cadetblue;
}
#body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color:cadetblue;
  justify-content: center;
  flex: 2;
}
#footer{
  background-color:darkslategray;
  height: 75px;
  text-align: center;
  border-radius: 25px;
 
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
li {
  list-style-type: none;
}
.searchBar {
  height: 25px;
  border-radius: 25px;
  margin-top: 25px;
  width: 250px;
}
.allViewContainer{
  text-align: center;
}

.allList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card {
  margin: 10px;
}
.singleView {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.catInput {
  border-radius: 10px;
  border: white;
  margin-top: 10px;
}
.descriptionInput {
  border-radius: 10px;
  height: 100px;
  margin-top: 10px;
  border: white;
}

/* Header/Nav Starts */
nav a {
  display: inline-block;
  margin: 1em;
}
#navbarBox {
  display: flex;
  justify-content: space-between;
  background-color:darkslategrey;
  border-radius: 25px;
}

#siteName {
  color: black;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

#siteName span {
  margin-top: 5px;
  font-size: 15px;
  color: black;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

#siteName span:after,
#siteName span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 5px;
  background-color: black;
}


#navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#search-box {
  display: block;
  width: 20%;
  position: absolute;
  top: 80px;
  right: 20px;
}

#search-bar,
#go-button {
  position: relative;
  top: 60%;
}
#search-bar {
  width: 70%;
  height: 40px;
  font-size: 12px;
  color: black;
  background: transparent;
}

#search-bar::placeholder {
  color: black;
  padding-left: 10px;
}

/* Header/Nav Ends */










