@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); 

body {
  background-color: #51d0de;
}
#body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #51d0de;
}

#main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color:#51d0de;
  justify-content: center;
  flex: 2;
}
#footerbox {
  background-color: #bf4aa8;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  position: relative;
  bottom: 0;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
li {
  list-style-type: none;
}
.searchBar {
  height: 25px;
  border-radius: 25px;
  margin-top: 25px;
  width: 250px;
}
.allViewContainer {
  text-align: center;
}

.allList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card {
  margin: 10px;
}

.editForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.catInput {
  border-radius: 10px;
  border: white;
  margin-top: 10px;
}
.descriptionInput {
  border-radius: 10px;
  height: 100px;
  margin-top: 10px;
  border: white;
}
.signUpForm {
  margin: 50px;
}
.signUpInput {
  margin: 10px;
  background-color: aliceblue;
}

/* Header/Nav Starts */
nav a {
  display: inline-block;
  margin: 1em;
}
#navbarBox {
  display: flex;
  justify-content: space-between;
  background-color:#bf4aa8;
  border-radius: 25px;
}

#siteName {
  color: black;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

li {
  list-style: none;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 15vw;
  height: 80vh;
  overflow: auto;
  box-shadow: 1px 3px 3px 1px;
  background-color: white;
  padding: 1rem;
}

.noNewMessage {
  display: none;
}

#siteName span {
  margin-top: 5px;
  font-size: 15px;
  color: black;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

#siteName span:after,
#siteName span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 5px;
  background-color: black;
}

#navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#search-box {
  display: block;
  width: 20%;
  position: absolute;
  top: 80px;
  right: 20px;
}

#search-bar,
#go-button {
  position: relative;
  top: 60%;
}
#search-bar {
  width: 70%;
  height: 40px;
  font-size: 12px;
  color: black;
  background: transparent;
}

#search-bar::placeholder {
  color: black;
  padding-left: 10px;
}

/* Header/Nav Ends */

/* CSS */
.messageLink {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 15vw;
}

.messageLink:hover,
.messageLink:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.messageLink:hover {
  transform: translateY(-1px);
}

.messageLink:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
